# Add files here to ignore them from prettier formatting
upward-web/dist
/coverage

**/ios/
**/android/
.nx
tsconfig.base.json
tallo-app/jest.config.ts
tallo-app/react-naive.config.json
tallo-app/README.md
node_modules
tallo-app/vendor/
storybook/.*
.*
azure-pipelines.yml
babel.config.json
nx.json
README.md

